:root {
    --heading:rgb(115, 140, 214);
    --bodytext: rgb(55, 108, 178);
    --htmlbackground: rgb(233, 233, 233);
    --bodybackground: rgb(209, 209, 209);
    --visited: rgb(94, 121, 204);
    --headerbackground: rgba(51, 49, 49, 0.9);
    --header2: rgba(51, 49, 49, 0.8);
}


html {
    background-color: var(--htmlbackground);
    min-width: 600px;
    font-size: 14px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    font-family: 'Roboto Slab', monospace;
    font-size: 1.5rem;
}

h1 {
    font-family: 'Roboto Slab', monospace;
    text-align: center;
    margin: 0;
    color: var(--heading);
    background-color: var(--headerbackground);
    border-style: solid;
    border-color: rgb(32, 31, 31);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    font-size: 2rem;
}

body {
    margin: auto;
    margin-top: 7.5rem;
    font-family: 'Roboto', sans-serif;
}

h2{
    margin: auto;
    padding: 0.2rem;
    font-family: 'Roboto Slab', monospace;
    color: var(--heading);
    font-size: 2rem;
    background-color: var(--header2);
    text-align: center;
    width: 87.7%;
    margin-top: 0;
}

ul.links {
    width: 85.5%;
    margin: auto;
    text-align: left;
    font-size: 1.2rem;
    background-color: var(--bodybackground);   
}

li.links {
    padding: 0.2rem;
}

ul.head {
    list-style-type: none;
    margin: 0;
    padding: .8rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--headerbackground);    
}

li.head {
    display: inline;
    margin: 5%;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 5%;
    padding-right: 5%;
}


a {
    text-decoration: none;
    color: var(--visited);
}

a:visited {
    color: var(--visited);
}

a:hover {
    text-decoration: underline;
}

img {
    width: 30%;
    display: inline-block;
    padding: 0.5rem;
}

div.images {
    width: 88.1%;
    margin: auto;
    background-color: var(--bodybackground);
    margin-bottom: 0;
}

p {
    color: var(--bodytext);
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

li.onpage {
    background-color: rgba(51, 49, 49, 0.9);
    display: inline;
    margin: 5%;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    text-align: center;
    bottom: 0;
    font-size: 1rem;
    color: var(--heading);
    background-color: var(--headerbackground);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}