:root {
    --light_blue: rgb(115, 140, 214);
    --darker_blue: rgb(55, 108, 178);
    --darkest_blue: rgb(57, 97, 163);
    --white: rgb(232, 232, 232);
    --grey: rgba(40, 40, 40, 0.9);
}

html {
    background-image: url("index/Backgroundupdate-01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-width: 600px;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: auto;
    margin-top: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    width: 80%;
    margin: auto;
    padding: 1rem;
    color: var(--light_blue);
    background-color: var(--grey);
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--darkest_blue);
    background-color: rgb(40, 40, 40);
    position: fixed;
    width: 100%;
    top: 0;
}

li {
    display: inline;
    margin: 5%;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--light_blue);
}