html {
    background-image: url("background-01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body {
    width: 80%;
    margin: auto;
}

p {
    color: red;
    background-color: rgba(0, 0, 0, 0.5);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin: auto;
    padding: 10%;
}