:root {
    --heading:rgb(115, 140, 214);
    --bodytext: rgb(55, 108, 178);
    --htmlbackground: rgb(233, 233, 233);
    --bodybackground: rgb(209, 209, 209);
    --visited: rgb(94, 121, 204);
    --headerbackground: rgba(51, 49, 49, 0.9);
}

html {
    background-color: var(--htmlbackground);
    min-width: 600px;
    position: relative;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    font-family: 'Roboto Slab', monospace;
}

h1 {
    font-family: 'Roboto Slab', monospace;
    text-align: center;
    margin: 0;
    color: var(--heading);
    background-color: var(--headerbackground);
    border-style: solid;
    border-color: rgb(32, 31, 31);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

body {
    margin: auto;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
}

div.left {
    width: 85%;
    margin: auto;
}

p.left {
    float: left;
    margin: auto;
    margin-top: 7rem;
    color: var(--bodytext); 
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--bodybackground); 
    padding: 1rem;
}

div.right {
    width: 85%;
    margin: auto;
}

p.right {
    float: right;
    margin: auto;
    margin-top: 2rem;
    color: var(--bodytext); 
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--bodybackground); 
    padding: 1rem;
    margin-bottom: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: .8rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--headerbackground);    
}

li {
    display: inline;
    margin: 5%;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 5%;
    padding-right: 5%;
}


a {
    text-decoration: none;
    color: var(--visited);
}

a:visited {
    color: var(--visited);
}

a:hover {
    text-decoration: underline;
}

img.left {
    float: right;
    width: 50%;
}

img.right {
    float: left;
    width: 50%; 
}

li.onpage {
    background-color: rgba(51, 49, 49, 0.9);
}

footer {
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: var(--headerbackground);
    color: var(--heading);
    padding: 1rem;
    float: center;
    left: 0;
    right: 0;
    bottom: 0;
}